html {
  font-size: 4px;
  background: #f4f5f4;
}
body {
  max-height: 100vh;
  overflow: hidden;
}
.icon-btn {
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: var(--primary-c);
  }
}